body {
    background-color: gray;
    font-family: monospace, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

#container {
    border: 3px dotted pink;
    padding: 8px;
    color: white;
}

.buttoncontainer {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

button {
    flex: 1;
    width: 120px;
    background-color: #60a4df;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 8px;
    padding: 6px 12px;
    
}

.results {

}

.score {

}

.finalResults {

}