body {
    background: url(./images/background.jpg);
    background-repeat: repeat;
    font-family: monospace, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    padding: 0;
    gap: 16px;
}

#container {
    border: 3px double #c177ec;
    padding: 16px;
    color: #c177ec;
    background-color: rgba(255, 255, 255, 0.74);
    width: 30%;
    height: fit-content;
    text-align: center;

}

.buttoncontainer {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

button {
    flex: 1;
    width: 100px;
    background-color: #c992e9;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 50px;
    
}

button:hover {
    background-color: white;
    color: #c992e9;
    transition: 1s;
}

button:disabled {
    background-color: #F5F5F5;
    color : #C3C3C3;
}

h1 {
    color: black;
    background-color: rgba(255, 255, 255, 0.795);
    text-align: center;
    border: 3px double #c177ec;
    padding: 2px 6px;
}